name: Build analyze

on:
  workflow_call:
    inputs:
      artifact-version:
        description: "Artifact version"
        required: true
        type: string

jobs:
  build-analyze:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set maven version
        run: |
          mvn versions:set -DnewVersion=${{ inputs.artifact-version }}

      - name: Build project
        run: mvn clean install