name: Container testing

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: busybox:latest
    services:
      mongodb:
        image: mongo:latest
        env:
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: pass
    steps:
      - name: Run inside container
        run: |
          echo "Inside container"