name: Deploy artifact

on:
  workflow_dispatch:
    inputs:
      artifact-name:
        description: 'Artifact name'
        type: choice
        options:
          - gh-simple-spring
        required: true
      artifact-version:
        description: 'Artifact version'
        type: string
        required: true
      environment:
        description: 'Target environment'
        type: choice
        options:
          - dev
          - int
          - preprod
          - prod
        required: true
      target:
        description: 'Specify host or all'
        type: choice
        options:
          - All
          - Primary
          - Backup
          - Standalone
        required: true

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      hosts: ${{ steps.hosts-list.outputs.hosts }}
      hosts-empty: ${{ steps.hosts-list.outputs.hosts-empty }}
    steps:
      - id: hosts-list
        run: |
          ENV="${{ github.event.inputs.environment }}"
          TARGET="${{ github.event.inputs.target }}"

          case "$ENV" in
            dev)
              PRIMARY='["dev1.company.com"]'
              BACKUP='[]'
              STANDALONE='[]'
              ;;
            int)
              PRIMARY='["int1.company.com"]'
              BACKUP='["int2.company.com"]'
              STANDALONE='[]'
              ;;
            preprod)
              PRIMARY='["preprod1.company.com"]'
              BACKUP='["preprod2.company.com"]'
              STANDALONE='["preprod3.company.com"]'
              ;;
            prod)
              PRIMARY='["prod1.company.com"]'
              BACKUP='["prod2.company.com"]'
              STANDALONE='["prod3.company.com"]'
              ;;
          esac
          
          if [ "$TARGET" = "Primary" ]; then
            HOSTS=$PRIMARY
          elif [ "$TARGET" = "Backup" ]; then
            HOSTS=$BACKUP
          elif [ "$TARGET" = "Standalone" ]; then
            HOSTS=$STANDALONE
          else
            HOSTS=$(jq -c -n "$PRIMARY + $BACKUP + $STANDALONE")
          fi
          
          if [ "$HOSTS" = "[]" ]; then
            echo "No hosts available in environment: $ENV for selection: $TARGET"
            echo "hosts-empty=true" >> $GITHUB_OUTPUT
          else
            echo "hosts-empty=false" >> $GITHUB_OUTPUT
          fi
          
          echo "hosts=$HOSTS" >> $GITHUB_OUTPUT

  deploy:
    needs: prepare
    if: needs.prepare.outputs.hosts-empty != 'true'
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}

    strategy:
      max-parallel: 1
      matrix:
        host: ${{ fromJson(needs.prepare.outputs.hosts) }}

    steps:
      - name: Deploy to ${{ matrix.host }}
        run: |
          echo "HOSTS: ${{ matrix.host }}"
#        uses: appleboy/ssh-action@v1
#        with:
#          host: ${{ matrix.host }}
#          username: deploy
#          key: ${{ secrets.SSH_KEY }}
#          script: |
#            /opt/myapp/deploy.sh \
#              ${{ github.event.inputs.artifact-name }} \
#              ${{ github.event.inputs.artifact-version }} \
#              ${{ github.event.inputs.environment }}
